<div style="width: 95%; margin: 0 auto">
  {{!  }}
  <form
    style="padding: 20px 20px 20px 20px; display: flex; width: 30%; margin: 0 auto"
    action="/stady/university"
    method="POST"
  >
    <select
      name="ciudad"
      class="form-select"
      aria-label="Default select example"
      style="margin: 0 auto"
    >
      <div class="form-groub">
        <option selected>Buscar por ciudades</option>
        <div class="form-groub">
          <option value="barranquilla" name="ciudad">barranquilla</option>
        </div>
        <div class="form-groub">
          <option value="bogota" name="ciudad">bogota</option>
        </div>
        <div class="form-groub">
          <option value="cali" name="ciudad">cali</option>
        </div>
        <div class="form-groub">
          <option value="cartagena" name="ciudad">cartagena</option>
        </div>
        <div class="form-groub">
          <option value="medellin" name="ciudad">medellin</option>
        </div>
        <div class="form-groub">
          <option value="monteria" name="ciudad">monteria</option>
        </div>
      </div>
    </select>
    <button
      class="btn btn-success btn-block btn-sm"
      type="submit"
    >BUSCAR</button>
  </form>
  {{!  }}
  <div class="row">
    {{#each university}}
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <div class="div-logo-nombre" style="display: flex;">
              <div class="div-image" style="width: 100px; height: 100px; background-color: red" >
                <img style="width:100px; height: 100px" src="https://sheltered-lake-28843.herokuapp.com/img/png/u.png" alt="logo"/>
              </div>

              <div>
                <h2 class="card-title d-flex justify-content-between align-items-center">
                  {{nombre}}
                </h2>
              </div>
            </div>

            <hr />
            <h3>Ciuda: {{ciudad}}</h3>
            <hr />

            <div>
            <p style="color: black; font-size: 14px">{{contenido}}</p>
            </div>

            <div style="display: flex;">
              <select class="form-select" aria-label="Default select example">
                <option selected>VER CARRERAS</option>
                {{#each carreras}}
                  <option value="1">{{0}}</option>
                {{/each}}
              </select>

              <a
                style="width: 300px;"
                href="{{link}}"
                class="btn btn-primary btn-block"
                type="submit"
              >Ir a la Universidad</a>
            </div>
          </div>
        </div>
      </div>
    {{else}}
      <div class="col-md-3 mx-auto">
        <div class="card">
          <div class="card-body mx-auto">
            <p style="color: black;" class="lead">Crear nueva Universidad. </p>
            <hr />
            <center><a
                href="/stady/universityadd"
                class="btn btn-success btn-block"
              >Create One!</a></center>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>